
@{
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="container">
            <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;background:white;'><strong><span style='font-size:17px;font-family:"Times New Roman",serif;color:#333333;'>Giới thiệu chung về nhà sách T2bookstore</span></strong></p>
            <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;background:white;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#333333;'>&nbsp;</span></p>
            <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#333333;'>T&ecirc;n c&ocirc;ng ty: <strong>Công ty TNHH một thành viên T2</strong></span></p>
            <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#333333;'>Đại diện: <strong>&Ocirc;ng &nbsp;- Lê Thành Long</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Chức vụ: Gi&aacute;m đốc&nbsp;</span></p>
            <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#333333;'>Địa chỉ: 99 Nguyễn Văn Linh, quận Hải Châu, TP Đ&agrave; Nẵng</span></p>
            <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#333333;'>M&atilde; số thuế &nbsp;: 156263654999</span></p>
            <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#333333;'>Số t&agrave;i khoản: 899999999</span></p>
            <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#333333;'>Mở tại &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: Ng&acirc;n h&agrave;ng MB Chi nh&aacute;nh Sơn Tr&agrave;, Th&agrave;nh phố Đ&agrave; nẵng</span></p>
            <p style='margin-top:0in;margin-right:0in;margin-bottom:0in;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:justify;background:white;'><span style='font-size:17px;font-family:"Times New Roman",serif;color:#333333;'>Điện thoại:&nbsp;</span><span style='font-size:17px;font-family:"Times New Roman",serif;color:black;'>0899999999</span></p>
            <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'><span style='font-size:17px;line-height:107%;font-family:"Times New Roman",serif;color:#333333;'>Email:&nbsp;</span><a href="mailto:bookstore@gmail.com"><span style='font-size:17px;line-height:107%;font-family:"Times New Roman",serif;'>bookstore1810@gmail.com</span></a></p>
            <p style="text-align: justify;">Công ty T2bookstore chuyên kinh doanh: sách quốc văn, ngoại văn, văn hóa phẩm, văn phòng phẩm, dụng cụ học tập, quà lưu niệm, đồ chơi dành cho trẻ em… Một số Nhà sách trực thuộc Công ty T2 còn kinh doanh các mặt hàng siêu thị như: hàng tiêu dùng, hàng gia dụng, hóa&nbsp; mỹ phẩm…</p>
            <p style="text-align: justify;">Sách quốc văn với nhiều thể loại đa dạng như sách giáo khoa – tham khảo, giáo trình, sách học ngữ, từ điển, sách tham khảo thuộc nhiều chuyên ngành phong phú: văn học, tâm lý – giáo dục, khoa học kỹ thuật, khoa học kinh tế - xã hội, khoa học thường thức, sách phong thủy, nghệ thuật sống, danh ngôn, sách thiếu nhi, truyện tranh, truyện đọc, từ điển, công nghệ thông tin, khoa học – kỹ thuật, nấu ăn, làm đẹp...&nbsp; của nhiều Nhà xuất bản, nhà cung cấp sách có uy tín như: NXB Trẻ, Giáo Dục, Kim Đồng, Văn hóa -Văn Nghệ, Tổng hợp TP.HCM, Chính Trị Quốc Gia; Công ty Đông A, Nhã Nam, Bách Việt, Alphabook, Thái Hà, Minh Lâm, Đinh Tị, Minh Long, TGM, Sáng Tạo Trí Việt, Khang Việt, Toàn Phúc…</p>
            <p style="text-align: justify;">Sách ngoại văn bao gồm: từ điển, giáo trình, tham khảo, truyện tranh thiếu nhi , sách học ngữ, từ vựng, ngữ pháp, luyện thi TOEFL, TOEIC, IELS…được nhập từ các NXB nước ngoài như<em>: </em>Cambridge, Mc Graw-Hill, Pearson Education, Oxford, Macmillan, Cengage Learning…</p>
        </div>

    </div>
</body>
</html>
