@using WebBookStore.Models;
@model List<Book>

<h4>Nhân viên lựa chọn</h4>
<ul>
    @{
        foreach (var item in Model)
        {
            <li class="row">
                <a href="@Url.Action("DetailBook","Book", new {@idbook = item.Id_Book })"><img src="@item.Images" /></a>
                <div class="bookshelves-item-content">
                    <h5 class="name">@item.Title</h5>
                    <p><span class="price-number">@item.Price</span> VND</p>
                </div>
            </li>
        }
    }
</ul>


